# 依賴套件
node_modules/
client/node_modules
client/.pnp
client/.pnp.js

# 環境變數（機密資訊）
.env

# 系統檔案
.DS_Store
Thumbs.db

# IDE 設定
.vscode/
.idea/

# Log 檔案
*.log
npm-debug.log*

# 建置檔案
build/
dist/
client/build

# client testing
client/coverage

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*